body, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: linear-gradient(white, gray);
}


header {
  text-align: center;
}

header, section {
  margin: 48px 0;
}

nav {
  text-align: center;
}

nav li {
  display: inline;
  margin: 16px;
}

dt {
  margin: 16px 0 8px 0;
}

.portrait {
  float: right;
  margin: 32px;
  width: 320px;
}

.portrait p {
  text-align: right;
}