body, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

header {
  text-align: center;
}

header, section {
  margin: 48px 0;
}

nav {
  text-align: center;
}

nav li {
  display: inline;
  margin: 16px;
}

dt {
  margin: 16px 0 8px 0;
}

.portrait {
  float: right;
  margin-left: 30px;
  width: 50vh; /*320px;*/
}

.portrait p {
  text-align: right;
  align: justify;
}


/*FOR ACCORDION*/
.accordion {
  background-color: #fff;
  color: #777; /* #009933;*/
  cursor: pointer;
 /* padding: 2px;*/
  width: auto;
  text-align: left;
  border: none;
  outline: none;
  outline-width: thin;
  transition: 0.4s;
 /* border-radius: 10%;*/
}

.accordion:after {
  content: '\0203A'; 
  font-size: 15px;
  /*font-weight: bold;*/
  color: #777;
  float: left;
  margin-left: 5px;
  outline-width: thin;
}

.active:after {
  content: "-";
}

.panel {
  padding: 8px 8px 0px 8px;
  margin: 5px 0 5px 0;
  /*background-color: rgba(0, 153, 51, 0.25);*/
  background-color: rgba(01, 10, 01, 0.00);
  display: none;
  overflow: hidden;
  border-radius: 1%;
}